<div class="page-header">
  <h1>Course #<%= @course.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Department</dt>
  <dd><%= @course.department %></dd>

  <dt>Number</dt>
  <dd><%= @course.number %></dd>

  <dt>Title</dt>
  <dd><%= @course.title %></dd>

  <h2>Meetings</h2>
  <% @meetings.each do|meetingname|  %>
 <ul>
 	<li>	
Meeting ID: <%= meetingname.id %>, Held on: <%= meetingname.held_on %>
	</li>
</ul>  
  <% end %>
</dl>
